extends layout

block content
  h1= title
  if user
    h4 welcome #{user.username}
    if user.isAuthor 
      p Welcome Author!
    a(href="/users/create") Post Something? 
    a(href="/log-out") Log Out? 

  if post_list.length 
    ul
    each post in post_list
      //- -console.log(post.user)
      li 
        a(href=post.url) #{post.title}
        //- p #{post.description}
        p #{post.date.getFullYear()} #{post.date.getMonth()} #{post.date.getDate()}
        if post.user
          h4 #{post.user.username}
  else 
    p there are no posts

  if !user
    a(href="/sign-in")  Login
    br
    a(href="/sign-up")  Sign Up