extends layout 

block content 
    h1=title

    if post
        if post.user
            h3= post.user.username
        p= post.description
        p= post.date

    a(href=post.url + "/delete") Delete?
    br
    a(href=post.url + "/update") Edit 
    br
    a(href="/") Home 